division.dtd

<!ELEMENT DIVISIONS (DIVISION)>
<!ELEMENT DIVISION (ID,MIN,MAX,STUDENTS+,GROUPS+)>

<!ELEMENT ID (#PCDATA)>
<!ELEMENT MIN (#PCDATA)>
<!ELEMENT MAX (#PCDATA)>

<!ELEMENT STUDENTS EMPTY>

<!ATTLIST STUDENTS 
	sID ID #REQUIRED
>

<!ELEMENT GROUPS (LEADER, MEMBERS+)>

<!ATTLIST GROUPS 
	gID CDATA #REQUIRED
>
<!ELEMENT LEADER EMPTY>
<!ATTLIST LEADER 
	sID IDREF #REQUIRED
>
<!ELEMENT MEMBERS EMPTY>
<!ATTLIST MEMBERS 
	sID IDREF #REQUIRED
>
