responses.dtd

<!ELEMENT RESPONSES (STUDENT+)>

<!ELEMENT STUDENT (RESPONSE*)>

<!ATTLIST STUDENT 
	sID CDATA #REQUIRED>

<!ELEMENT RESPONSE (MC | NUMERIC | TIMETABLE)>

<!ATTLIST RESPONSE 
	qID CDATA #REQUIRED
>

<!ELEMENT MC (CHOICES*)>
<!ELEMENT CHOICES EMPTY>

<!ATTLIST CHOICES 
	choice CDATA #REQUIRED
>

<!ATTLIST NUMERIC
	answer CDATA #REQUIRED
>
<!ELEMENT NUMERIC EMPTY>

<!ATTLIST TIMETABLE 
	timeslotID CDATA #REQUIRED
	availability (yes|no|maybe) #REQUIRED 
>
<!ELEMENT TIMETABLE EMPTY>
